h1 {
    color: plum;
}

.container {
    padding: 25px;
}

.resume:hover .fa-file:before {
    content: "\f15c";
}

.accordion-button:not(.collapsed) {
    color: indigo;
    background-color: thistle;
}

#contact {
    padding: 0px;
}

.email:hover .fa-envelope:before {
    content: "\f2b6";
}